package TEMPLATE

import "framework/framework"

type httpStructure struct{}
type serviceStructure struct{}

var (
	http      httpStructure
	service   serviceStructure
	cron      framework.CronUtils
	utils     framework.Utils
	webserver framework.WebServer
)
