package TEMPLATE

import (
	"github.com/labstack/echo/v4"
)

func httpRoute(route *echo.Echo) {
	root := route.Group("/TEMPLATE")
	{
		root.GET("/TEMPLATE", appTest)
	}
}

func appTest(ctx echo.Context) error {
	return webserver.ResultAPI(ctx, 200, "OK", "")
}
